.friend_page {
  height: calc(100vh - 56px);
  width: 100%;
  margin-top: 56px;
  display: grid;
  color: var(--color-primary);
}
.friend_page_left {
  background: var(--bg-primary);
  box-shadow: 0 12px 12px var(--shadow-1);
  padding: 10px;
  position: fixed;
  width: 360px;
  height: 100%;
}
.friends_display {
  background: var(--bg-secondary);
  padding: 2rem;
  position: absolute;
  top: 56px;
  left: 360px;
  right: 0;
  width: calc(100% - 360px);
  min-height: calc(100vh - 56px);
}
.page_menu_headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page_menu_headers h3 {
  font-size: 21px;
}
.friend_page_left .menu_options {
  cursor: pointer;
}
.active_menu_option {
  background: var(--bg-secondary);
}
.active_menu_option .small_circle {
  background: #51ae84;
}
.active_menu_option i {
  filter: invert(100%);
}
.active_menu_option .rArrow {
  display: none;
}
.see_all {
  color: var(--green-color);
  padding: 5px;
  cursor: pointer;
}
.friends_display_wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-third);
}
.friends_display_wrap .display_section_wrap {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.friend_request_card {
  background: var(--bg-primary);
  box-shadow: 1px 1px 1px var(--shadow-1);
  width: 210px;
  height: fit-content;
  padding-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.friend_request_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.friend_request_card button {
  width: 170px !important;
}
@media (max-width: 870px) {
  .friend_page_left {
    width: 100px;
  }
  .friends_display {
    left: 100px;
    width: calc(100% - 100px);
  }
  .friend_page_left .page_menu_headers .small_circle {
    display: none;
  }
  .friend_page_left .menu_options span {
    display: none;
  }
}
@media (max-width: 400px) {
  .page_menu_headers h3 {
    font-size: 16px;
  }
  .see_all {
    font-size: 12px;
    width: 50px;
  }

  .friends_display {
    padding: 10px;
  }
}
